
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 3em;
  }
  
  .row {
    display: flex;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .child {
    width: 50%;
  }

  .child + .child {
    margin-left: 2em;
  }

  .hero {
    background: #F3EED9;
    margin: 0 auto;
    padding: 6em 0;
    min-height: 660px;
  }

  .hero__text {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
  }

  .center-text {
    text-align: center;
  }

  .bg-accent1 {
    background: #222C2A;
    color: white;
  }

  .bg-accent2 {
    background: #824936;
    color: white;
  }

  .text-accent-beige {
    color: #F3EED9;
  }

  .text-accent-brown {
    color: #824936;
  }

  .text-accent-green {
    color: #222C2A;
  }

  img {
    max-width: 100%;
    background-size: 100%;
  }

  h2 {
    margin-bottom: .75em;
  }

  section {
    min-height: 325px;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    font-style: normal;
  }

  .playfair-black-lg {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3.75rem;
  }

  .playfair-black-sml {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 2.25rem;
  }

  .uppercase {
    text-transform: uppercase;
  }

  @media (max-width: 600px) {
    .row {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .child {
        width: 100%;
    }

    .child + .child {
        margin-top: 2em;
        margin-left: 0;
    }

    .playfair-black-lg {
        font-size: 2.5rem;
     }

      .playfair-black-sml {
        font-size: 2rem;
      }
  }
